{% extends 'Functions/base.html' %}

{% block contenido %}
<div>
    <h1>Acerca de mí...</h1>
</div>

<div>
    <p>Mi nombre es Manuel Cividanes, decidí realizar este curso con la finalidad de dar un nuevo paso y conocer un mundo al que era completamente ajeno.
    Debo decir que he quedado fascinado con la infinidad de cosas que se hacen mediante la programación, personalmente no era consciente de básicamente 
    el mundo de hoy se apoya en las bases de códigos que hacen funcionar todo tipo de programas y webs que constituyen hoy herramientas funamentales del
    diario vivir.

    El conocimiento que adquirí por medio del curso me servirá como puntapié inicial para seguir avanzando y aprendiendo, a fin de que pueda ofrecer servicios
    como programador, y formar parte de nuevos proyectos. 

    Sinceramente, muchas gracias.
    </p>
</div>

{% endblock %}
